* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    border-radius: 1rem;
    position: fixed;
    width: 95%;
    background-color: #323033;
    margin-left: 3rem;
    top: 1rem;
}


body {   
    background-image: url(/images/HD.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #414141;
    margin-top: 5rem;
    width: 90%; 
}

.container {
    display: flex;
    justify-content:space-between;
}

.aboutus ul {
    display: flex;
    list-style: none;
}

.aboutus ul li:first-child {
    color: #c900fc;
}

.nav {
    display: flex;
    list-style: none;
    justify-content: right;
}


a {
    text-decoration: none;
    color:#B5B3AD;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #ae00ff;
}

img {
    width: 80px;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1);
 }

li {
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.image-profil {
    display: flex;
    width: 40%;
    align-items: center;
}

.column-info {
    padding: 2rem;
    color: #ffffff;
}

.container-banner {
    display: flex;
}

.column-info :first-child {
    text-align: center;
    margin-bottom: 1rem;
}

.column-info p{
    line-height: 2rem;
}

.column {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 2rem;
    margin-left: 5rem;
}

.moi {
    width: 60%;
    height: auto;
    border: solid 2px black;
    border-radius: 2rem 2rem 5rem 2rem;
}

.projet, .contact, .info {
    margin-left: 3rem;
    width: 100%;
    text-align: center;
    border: solid 2px rgb(0, 0, 0);
    background-color: #605863;
    color: #ffffff;
    font-size: 40px;
    margin: 2rem;
    border-radius: 1rem;
}

.section {
    display: flex;
}

.logo {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.contactus {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.column-info h1 {
    margin-bottom: 2rem;
}

.presentation {
    padding: 2rem;
    color: #ffffff;
}

.skills {
    margin-left: 8rem;
    
}

.skills {
    color: #fff;
}

.skills h2 {
    margin-bottom: 2rem;
}

.presentation h2 {
    line-height: 5rem;
}

.presentation {
    line-height: 1.5rem;
    justify-content: center;
    margin-left: 3rem;
}

.container-korge {
    display: flex;  
}


